.postcard__container {
  max-width: 28rem;
  margin: 0.8rem;
  border: 1px solid var(--grey-border);
  background-color: var(--white);
  border-radius: 5px;
  position: relative;
}

.postcard__dropdown {
  position: absolute;
  top: 6%;
  right: 2%;
}

.responsive-img {
  padding: 0;
  border-radius: 0;
  max-height: 20rem;
}

.postcard__container-header {
  align-items: center;
  border-bottom: 1px solid var(--grey-border);
  display: flex;
}

.postcard__dropdown_container {
  margin-left: auto;
  width: fit-content;
  margin-right: 0.8rem;
  cursor: pointer;
}

.postcard__dropdown_button {
  background-color: inherit;
  cursor: pointer;
}

.postcard__container-description {
  text-align: left;
  padding: 0.4rem;
  overflow-wrap: break-word;
}

.postcard_text {
  color: var(--black-shade);
  font-size: 0.8rem;
  padding: 0.2rem;
}

.postcard_items {
  align-items: center;
}

.postcard__container-btn {
  color: var(--primary-color);
  background-color: inherit;
  margin-left: auto;
  padding-right: 0.8rem;
}

.postcard__like {
  align-items: center;
  display: flex;
}

.liked {
  color: var(--secondary-color);
}

@media only screen and (max-width: 470px) {
  .postcard__container {
    margin: 0.8rem 0;
  }
}
