@import url("./variables.css");

.flex {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.padding-sm {
  padding: 0.4rem;
}
.padding-md {
  padding: 0.8rem;
}

.hr {
  border-bottom: 1px solid var(--grey-border);
}

.btn {
  background-color: transparent;
  border: none;
}

a {
  text-decoration: none;
  color: var(--black-shade);
}

.page__link {
  color: var(--primary-color);
  cursor: pointer;
}

.primary_btn {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  border-radius: 2px;
  border: 1px solid var(--primary-color);
}

.secondary_btn {
  background-color: inherit;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  font-size: 1rem;
  margin-left: auto;
  border-radius: 2px;
}

.error-msg {
  color: var(--secondary-color);
}

.empty_msg {
  font-style: italic;
  margin: 1.8rem;
  color: var(--secondary-text-color);
}

/* Like , comment and bookmark icons */
.postcard_items {
  align-items: center;
}

.comment__btn_disabled {
  opacity: 0.5;
}

.postcard__like {
  align-items: center;
  display: flex;
  cursor: pointer;
}

.post_comment {
  cursor: pointer;
}

.liked {
  color: var(--secondary-color);
}

.post_bookmark {
  margin-left: auto;
  cursor: pointer;
}

.comment_inp {
  width: 100%;
}

.comment_inp:focus {
  outline: none;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey; */
  border-radius: 10px;
  background: var(--grey-border);
}
