:root {
  --secondary-color: #ed4956;
  --text-color: #262626;
  --background-color: #fafafa;
  --primary-color: #0095f6;
  --dark-grey: #efefef;
  --secondary-text-color: #8e8e8e;
  --white: #ffffff;
  --dark-mode-background: #282525;
  --text: #b83363;
  --white-shade: #f5f3f4;
  --greyish: #595456;
  --black-shade: #080808;
  --grey-border: #cfcfcf;
  --btn-background: #5c6063;
  --hover-color: #e4e4e4;
}
