:root {
  --secondary-color: #ed4956;
  --text-color: #262626;
  --background-color: #fafafa;
  --primary-color: #0095f6;
  --dark-grey: #efefef;
  --secondary-text-color: #8e8e8e;
  --logo-colors: #d400c4;
  --logo-color: #9c33c3;

  --light-red: #d03b77;
  --dark-red: #c1336b;
  --darkest-red: #851f45;
  --header: #eab422;
  --white: #ffffff;
  --dark-mode-background: #282525;
  --text: #b83363;
  --white-shade: #f5f3f4;
  --greyish: #595456;
  --black-shade: #080808;
  --grey-border: #cfcfcf;
}
