.comment-section {
  align-items: flex-start;
  margin: 0.4rem;
  padding: 0.2rem 0.4rem;
}

.avatar {
  margin: 0.4rem;
}

.comment__content {
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 90%;
  margin: 0.4rem;
}

.comment__btn {
  cursor: pointer;
  margin-left: auto;
  color: var(--secondary-text-color);
}

.comment__text {
  word-wrap: break-word;
}
