.feed__container {
  margin: auto;
  padding: 1.8rem;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .feed__container {
    margin: 1.8rem auto auto auto;
    padding: 0.2rem;
    width: 90%;
  }
}
